<!doctype html>
<!--
Copyright 2020 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
-->
<html>
  <head>
    <meta charset="utf-8">
    <title>auth handler</title>
  </head>
  <body>
  
  </body>
  <script defer>
      var token = '<%- post_body %>';
      if (token == '') {
        token = window.location.hash.substring(1);
      }
      
      // Respond with token based on how we got here (popup/redirect)
      var redirectUrl = localStorage.getItem('onSuccessfulAuthRedirect');
      if (redirectUrl) {
        localStorage.removeItem('onSuccessfulAuthRedirect');
        localStorage.setItem('authResponse', token)
        window.location.href = redirectUrl;
      }
      else if (window.opener) {
        window.opener.postMessage(token);
        window.close();
      }
  </script>
</html>